<div class="search-bar">
  <form class="d-flex" action="/consoles" accept-charset="UTF-8" method="get" style="width:80%">
    <input type="text" name="query" id="query" value="" class="input-search" style="width:80%" placeholder="Find a console">
    <button type="submit" name="commit" class="loupe" data-disable-with="Search">
    </button>
  </form>
</div>
<div class="card-consoles">
  <% @consoles.each do |console| %>
    <div class="card-console">
    <%= cl_image_tag console.photo.key, class: "img-card-console", alt: "console Pic" %>
    <%= console.name %>
    <%= console.brand %>
    <%= console.description %>
    </div>
  <% end %>
</div>
